# Weather Data Extraction

This notebook extracts weather data for Canberra, Australia, using the Bureau of Meteorology's website.

## Import Necessary Libraries

```python

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
def extract_weather_tables(start_month=1, end_month=11):
    # Base URL
    base_url = "https://reg.bom.gov.au/climate/dwo/2024{month:02}/html/IDCJDW2801.2024{month:02}.shtml"
    month_name = ["January", "February", "March", "April", "May", "June",
                  "July", "August", "September", "October", "November", "December"]
    
    meandf = []  # List to hold mean DataFrames for each month
    all_data = []  # List to hold all weather data

    # Loop through the months
    for month in range(start_month, end_month):
        # Create the URL for the current month
        url = base_url.format(month=month)
        print(f"Fetching data from: {month_name[month-1]}")
        
        # Send a request
        response = requests.get(url)

        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            
            # Find the table
            table = soup.find('table')
            if table:
                # Convert the table into a DataFrame
                df = pd.read_html(str(table))[0]

                # Extract the mean values and store it in meandf
                if len(df) > 4:
                    mean_row = df.iloc[[-4]].copy()  # Use copy to avoid warnings
                    meandf.append(mean_row)  # Append the DataFrame

                # Remove the last 5 rows
                if len(df) > 5:
                    df = df.iloc[:-5]

                all_data.append(df)
            else:
                print(f"No table found in {url}.")
        else:
            print(f"Failed to retrieve data from {url} - Status code: {response.status_code}")

    # Concatenate all DataFrames into one
    if all_data:
        combined_df = pd.concat(all_data, ignore_index=True)

        # Change the date field to datetime objects
        if 'Date' in combined_df.columns:
            # Generate date range from January 1 to November 14
            date_range = pd.date_range(start='2024-01-01', end='2024-10-31')
            combined_df['Date'] = date_range[:len(combined_df)]
        
        # Create a DataFrame for the mean values
        if meandf:
            mean_combined_df = pd.concat(meandf, ignore_index=True)
            return combined_df, mean_combined_df
        else:
            return combined_df, None
    else:
        return None, None

## Execute the Function

In [5]:
weather_data, mean_data = extract_weather_tables()
print(weather_data.head())
print(mean_data)

Fetching data from: January

C:\Users\mohan\AppData\Local\Temp\ipykernel_9080\40755998.py:26: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Fetching data from: February

C:\Users\mohan\AppData\Local\Temp\ipykernel_9080\40755998.py:26: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Fetching data from: March

C:\Users\mohan\AppData\Local\Temp\ipykernel_9080\40755998.py:26: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Fetching data from: April

C:\Users\mohan\AppData\Local\Temp\ipykernel_9080\40755998.py:26: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Fetching data from: May

C:\Users\mohan\AppData\Local\Temp\ipykernel_9080\40755998.py:26: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Fetching data from: June

C:\Users\mohan\AppData\Local\Temp\ipykernel_9080\40755998.py:26: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Fetching data from: July

C:\Users\mohan\AppData\Local\Temp\ipykernel_9080\40755998.py:26: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Fetching data from: August

C:\Users\mohan\AppData\Local\Temp\ipykernel_9080\40755998.py:26: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Fetching data from: September

C:\Users\mohan\AppData\Local\Temp\ipykernel_9080\40755998.py:26: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Fetching data from: October
        Date Day Temps       Rain Evap   Sun Max wind gust              ...  \
        Date Day   Min   Max Rain Evap   Sun           Dir  Spd   Time  ...
        Date Day    °C    °C   mm   mm hours          km/h km/h  local  ...
0 2024-01-01  Mo  14.5  27.6    0  NaN   NaN            NE   30  18:14  ...
1 2024-01-02  Tu  16.9  27.7  0.6  NaN   NaN           NNE   31  17:45  ...
2 2024-01-03  We  17.2  30.2  0.4  NaN   NaN            SE   37  19:27  ...
3 2024-01-04  Th  16.9  24.1  4.8  NaN   NaN           ESE   31  20:52  ...
4 2024-01-05  Fr  14.4  23.9  4.2  NaN   NaN           ENE   43  16:15  ...

  9 am                    3 pm
   Cld  Dir  Spd    MSLP  Temp  RH Cld  Dir  Spd    MSLP
   8th km/h km/h     hPa    °C   % 8th km/h km/h     hPa
0    8    E   13  1022.5  25.0  53   5    S    9  1018.0
1    8    S    9  1018.3  26.2  56   1    N   11  1015.5
2    7   SE    4  1016.2  28.7  54   8  WNW   13  1013.0
3    8   SE    7  1016.0  23.5  73   6  ESE   15  1016.2
4    8  SSE   17  1021.5  22.4  54   8    E   17  1019.8

[5 rows x 22 columns]
   Date   Day Temps       Rain Evap   Sun Max wind gust             ... 9 am  \
   Date   Day   Min   Max Rain Evap   Sun           Dir  Spd  Time  ...  Cld
   Date   Day    °C    °C   mm   mm hours          km/h km/h local  ...  8th
0  Mean  Mean  14.9  27.1  NaN  NaN   NaN           NaN  NaN   NaN  ...    7
1  Mean  Mean  14.2  28.1  NaN  NaN   NaN           NaN  NaN   NaN  ...    6
2  Mean  Mean  10.7  27.4  NaN  NaN   NaN           NaN  NaN   NaN  ...    6
3  Mean  Mean   5.8  20.8  NaN  NaN   NaN           NaN  NaN   NaN  ...    5
4  Mean  Mean   2.6  16.8  NaN  NaN   NaN           NaN  NaN   NaN  ...    6
5  Mean  Mean   0.1  12.9  NaN  NaN   NaN           NaN  NaN   NaN  ...    6
6  Mean  Mean   0.4  12.5  NaN  NaN   NaN           NaN  NaN   NaN  ...    6
7  Mean  Mean   2.5  16.7  NaN  NaN   NaN           NaN  NaN   NaN  ...    5
8  Mean  Mean   3.6  18.6  NaN  NaN   NaN           NaN  NaN   NaN  ...    5
9  Mean  Mean   5.9  22.3  NaN  NaN   NaN           NaN  NaN   NaN  ...    5

                     3 pm
   Dir  Spd    MSLP  Temp  RH Cld  Dir  Spd    MSLP
  km/h km/h     hPa    °C   % 8th km/h km/h     hPa
0  NaN   11  1013.9  25.4  53   5  NaN   18  1011.4
1  NaN    8  1017.1  26.4  50   5  NaN   16  1014.3
2  NaN    6  1021.5  26.0  37   4  NaN   15  1018.5
3  NaN    9  1022.3  19.6  45   6  NaN   16  1019.4
4  NaN    6  1028.8  15.8  55   6  NaN   15  1025.9
5  NaN    8  1020.5  11.9  57   5  NaN   16  1018.3
6  NaN   13  1023.7  11.1  60   6  NaN   19  1021.5
7  NaN   11  1023.1  15.3  52   4  NaN   20  1020.0
8  NaN   18  1021.8  16.9  39   4  NaN   27  1019.1
9  NaN   10  1019.7  20.7  39   6  NaN   21  1016.5

[10 rows x 22 columns]

C:\Users\mohan\AppData\Local\Temp\ipykernel_9080\40755998.py:26: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

In [7]:
# Save the weather_data DataFrame to a CSV file
weather_data.to_csv('weather_data.csv', index=False)
print("Weather data saved to 'weather_data.csv'.")

Weather data saved to 'weather_data.csv'.

In [9]:
weather_data.head(5)

        Date Day Temps       Rain Evap   Sun Max wind gust              ...  \
        Date Day   Min   Max Rain Evap   Sun           Dir  Spd   Time  ...
        Date Day    °C    °C   mm   mm hours          km/h km/h  local  ...
0 2024-01-01  Mo  14.5  27.6    0  NaN   NaN            NE   30  18:14  ...
1 2024-01-02  Tu  16.9  27.7  0.6  NaN   NaN           NNE   31  17:45  ...
2 2024-01-03  We  17.2  30.2  0.4  NaN   NaN            SE   37  19:27  ...
3 2024-01-04  Th  16.9  24.1  4.8  NaN   NaN           ESE   31  20:52  ...
4 2024-01-05  Fr  14.4  23.9  4.2  NaN   NaN           ENE   43  16:15  ...

  9 am                    3 pm
   Cld  Dir  Spd    MSLP  Temp  RH Cld  Dir  Spd    MSLP
   8th km/h km/h     hPa    °C   % 8th km/h km/h     hPa
0    8    E   13  1022.5  25.0  53   5    S    9  1018.0
1    8    S    9  1018.3  26.2  56   1    N   11  1015.5
2    7   SE    4  1016.2  28.7  54   8  WNW   13  1013.0
3    8   SE    7  1016.0  23.5  73   6  ESE   15  1016.2
4    8  SSE   17  1021.5  22.4  54   8    E   17  1019.8

[5 rows x 22 columns]