# Data Wrangling for Weather Data

This notebook contains the data cleaning and preprocessing steps for the weather dataset.

### Load Necessary Libraries

In [1]:
import pandas as pd

### Load the Data

In [3]:
weather_data=pd.read_csv('weather_data.csv',header=[0,1,2])
mean_data=pd.read_csv('mean_data.csv',header=[0,1,2])

In [5]:
weather_data

           Date Day Temps       Rain Evap   Sun Max wind gust               \
           Date Day   Min   Max Rain Evap   Sun           Dir   Spd   Time
           Date Day    °C    °C   mm   mm hours          km/h  km/h  local
0    2024-01-01  Mo  14.5  27.6  0.0  NaN   NaN            NE  30.0  18:14
1    2024-01-02  Tu  16.9  27.7  0.6  NaN   NaN           NNE  31.0  17:45
2    2024-01-03  We  17.2  30.2  0.4  NaN   NaN            SE  37.0  19:27
3    2024-01-04  Th  16.9  24.1  4.8  NaN   NaN           ESE  31.0  20:52
4    2024-01-05  Fr  14.4  23.9  4.2  NaN   NaN           ENE  43.0  16:15
..          ...  ..   ...   ...  ...  ...   ...           ...   ...    ...
300  2024-10-27  Su   4.6  25.0  0.0  NaN   NaN            NW  41.0  13:35
301  2024-10-28  Mo   3.7  27.7  0.0  NaN   NaN           WNW  54.0  11:31
302  2024-10-29  Tu   7.2  25.6  0.0  NaN   NaN             N  35.0  14:16
303  2024-10-30  We   9.9  28.3  0.0  NaN   NaN             W  44.0  14:26
304  2024-10-31  Th   5.0  26.1  0.0  NaN   NaN             W  50.0  13:07

     ... 9 am                      3 pm
     ...  Cld   Dir   Spd    MSLP  Temp    RH  Cld  Dir  Spd    MSLP
     ...  8th  km/h  km/h     hPa    °C     %  8th km/h km/h     hPa
0    ...  8.0     E    13  1022.5  25.0  53.0  5.0    S    9  1018.0
1    ...  8.0     S     9  1018.3  26.2  56.0  1.0    N   11  1015.5
2    ...  7.0    SE     4  1016.2  28.7  54.0  8.0  WNW   13  1013.0
3    ...  8.0    SE     7  1016.0  23.5  73.0  6.0  ESE   15  1016.2
4    ...  8.0   SSE    17  1021.5  22.4  54.0  8.0    E   17  1019.8
..   ...  ...   ...   ...     ...   ...   ...  ...  ...  ...     ...
300  ...  5.0     S     7  1019.8  21.8  29.0  8.0    N   20  1016.3
301  ...  4.0    NW     6  1018.5  26.7  17.0  NaN   NW   30  1015.4
302  ...  NaN   NNW     2  1023.4  24.2  36.0  NaN  NNE   17  1019.3
303  ...  3.0   SSW     7  1018.2  27.1  17.0  NaN  WNW   31  1012.6
304  ...  3.0  Calm  Calm  1011.5  23.8  23.0  8.0  WNW   30  1008.6

[305 rows x 22 columns]

In [7]:
mean_data

   Date   Day Temps       Rain Evap   Sun Max wind gust             ... 9 am  \
   Date   Day   Min   Max Rain Evap   Sun           Dir  Spd  Time  ...  Cld
   Date   Day    °C    °C   mm   mm hours          km/h km/h local  ...  8th
0  Mean  Mean  14.9  27.1  NaN  NaN   NaN           NaN  NaN   NaN  ...    7
1  Mean  Mean  14.2  28.1  NaN  NaN   NaN           NaN  NaN   NaN  ...    6
2  Mean  Mean  10.7  27.4  NaN  NaN   NaN           NaN  NaN   NaN  ...    6
3  Mean  Mean   5.8  20.8  NaN  NaN   NaN           NaN  NaN   NaN  ...    5
4  Mean  Mean   2.6  16.8  NaN  NaN   NaN           NaN  NaN   NaN  ...    6
5  Mean  Mean   0.1  12.9  NaN  NaN   NaN           NaN  NaN   NaN  ...    6
6  Mean  Mean   0.4  12.5  NaN  NaN   NaN           NaN  NaN   NaN  ...    6
7  Mean  Mean   2.5  16.7  NaN  NaN   NaN           NaN  NaN   NaN  ...    5
8  Mean  Mean   3.6  18.6  NaN  NaN   NaN           NaN  NaN   NaN  ...    5
9  Mean  Mean   5.9  22.3  NaN  NaN   NaN           NaN  NaN   NaN  ...    5

                     3 pm
   Dir  Spd    MSLP  Temp  RH Cld  Dir  Spd    MSLP
  km/h km/h     hPa    °C   % 8th km/h km/h     hPa
0  NaN   11  1013.9  25.4  53   5  NaN   18  1011.4
1  NaN    8  1017.1  26.4  50   5  NaN   16  1014.3
2  NaN    6  1021.5  26.0  37   4  NaN   15  1018.5
3  NaN    9  1022.3  19.6  45   6  NaN   16  1019.4
4  NaN    6  1028.8  15.8  55   6  NaN   15  1025.9
5  NaN    8  1020.5  11.9  57   5  NaN   16  1018.3
6  NaN   13  1023.7  11.1  60   6  NaN   19  1021.5
7  NaN   11  1023.1  15.3  52   4  NaN   20  1020.0
8  NaN   18  1021.8  16.9  39   4  NaN   27  1019.1
9  NaN   10  1019.7  20.7  39   6  NaN   21  1016.5

[10 rows x 22 columns]

### Remove mutiindixing from weather data

In [9]:
weather_data.columns = [(col[1]) if col in (weather_data.columns[:7]) else col for col in weather_data.columns]
weather_data.columns = list(weather_data.columns[:7]) + \
    (weather_data.columns[7:]).map(lambda x: f"{x[0]}_{x[1]}").tolist()

### Remove MultiIndexing from Mean Data

In [11]:
mean_data.columns = [(col[1]) if col in (mean_data.columns[:7]) else col for col in mean_data.columns]
mean_data.columns = list(mean_data.columns[:7]) + \
    (mean_data.columns[7:]).map(lambda x: f"{x[0]}_{x[1]}").tolist()

### Add Month Referencing

In [13]:
weather_data['Month'] =pd.to_datetime( weather_data['Date']).dt.month - 1

### Drop Irrelevant Features

In [15]:
weather_data.drop(columns=['Date', 'Day', 'Evap', 'Sun','Max wind gust_Time'],inplace=True)
mean_data.drop(columns=['Date', 'Day', 'Rain', 'Evap', 'Sun','Max wind gust_Time', 'Max wind gust_Dir',
       'Max wind gust_Spd', 'Max wind gust_Time','9 am_Dir', '3 pm_Dir'],inplace=True)

### Check for NAN Values

In [17]:
print('Count of NaNs in each Column of Weather data',weather_data.isna().sum())
print('Count of NaNs in each Column of Mean data',mean_data.isna().sum())

Count of NaNs in each Column of Weather data Min                    0
Max                    0
Rain                   1
Max wind gust_Dir      5
Max wind gust_Spd      5
9 am_Temp              0
9 am_RH                0
9 am_Cld             113
9 am_Dir               0
9 am_Spd               0
9 am_MSLP              0
3 pm_Temp              1
3 pm_RH                1
3 pm_Cld             133
3 pm_Dir               1
3 pm_Spd               1
3 pm_MSLP              1
Month                  0
dtype: int64
Count of NaNs in each Column of Mean data Min          0
Max          0
9 am_Temp    0
9 am_RH      0
9 am_Cld     0
9 am_Spd     0
9 am_MSLP    0
3 pm_Temp    0
3 pm_RH      0
3 pm_Cld     0
3 pm_Spd     0
3 pm_MSLP    0
dtype: int64

### Fill NaN Values

In [19]:
for col in weather_data.columns[:]:  # All column
    if col in mean_data.columns:
        # Fill NaN with means from mean_data
        weather_data[col] = weather_data.apply(
            lambda row: mean_data[col][row['Month']] if pd.isna(row[col]) else row[col],
            axis=1
        )
    else:
        # Check if the column is numeric first
        if pd.api.types.is_numeric_dtype(weather_data[col]):
            # Calculate average for numeric types
            for month in weather_data['Month'].unique():
                avg_value = weather_data.loc[weather_data['Month'] == month, col].mean()
                weather_data.loc[
                    (weather_data['Month'] == month) & (pd.isna(weather_data[col])),
                    col
                ] = avg_value
        else:
            # Calculate mode for object types
            for month in weather_data['Month'].unique():
                mode_value = weather_data.loc[weather_data['Month'] == month, col].mode()
                if not mode_value.empty:
                    # Fill NaN with the mode value for that month
                    weather_data.loc[
                        (weather_data['Month'] == month) & (pd.isna(weather_data[col])),
                        col] = mode_value[0]  # Take the first mode value

### Display the Updated DataFrame

In [21]:
print(weather_data)

      Min   Max  Rain Max wind gust_Dir  Max wind gust_Spd  9 am_Temp  \
0    14.5  27.6   0.0                NE               30.0       16.9
1    16.9  27.7   0.6               NNE               31.0       19.4
2    17.2  30.2   0.4                SE               37.0       21.4
3    16.9  24.1   4.8               ESE               31.0       21.4
4    14.4  23.9   4.2               ENE               43.0       17.8
..    ...   ...   ...               ...                ...        ...
300   4.6  25.0   0.0                NW               41.0       11.7
301   3.7  27.7   0.0               WNW               54.0       13.6
302   7.2  25.6   0.0                 N               35.0       14.2
303   9.9  28.3   0.0                 W               44.0       15.1
304   5.0  26.1   0.0                 W               50.0       15.8

     9 am_RH  9 am_Cld 9 am_Dir 9 am_Spd  9 am_MSLP  3 pm_Temp  3 pm_RH  \
0         79       8.0        E       13     1022.5       25.0     53.0
1         89       8.0        S        9     1018.3       26.2     56.0
2         81       7.0       SE        4     1016.2       28.7     54.0
3         78       8.0       SE        7     1016.0       23.5     73.0
4         75       8.0      SSE       17     1021.5       22.4     54.0
..       ...       ...      ...      ...        ...        ...      ...
300       65       5.0        S        7     1019.8       21.8     29.0
301       60       4.0       NW        6     1018.5       26.7     17.0
302       64       5.0      NNW        2     1023.4       24.2     36.0
303       73       3.0      SSW        7     1018.2       27.1     17.0
304       48       3.0     Calm     Calm     1011.5       23.8     23.0

     3 pm_Cld 3 pm_Dir 3 pm_Spd  3 pm_MSLP  Month
0         5.0        S        9     1018.0      0
1         1.0        N       11     1015.5      0
2         8.0      WNW       13     1013.0      0
3         6.0      ESE       15     1016.2      0
4         8.0        E       17     1019.8      0
..        ...      ...      ...        ...    ...
300       8.0        N       20     1016.3      9
301       6.0       NW       30     1015.4      9
302       6.0      NNE       17     1019.3      9
303       6.0      WNW       31     1012.6      9
304       8.0      WNW       30     1008.6      9

[305 rows x 18 columns]

### Check for Non-Numeric Values

In [23]:
for col in weather_data.columns:
    # Use pd.to_numeric with errors='coerce' to identify non-numeric values
    non_numeric = weather_data[col][pd.to_numeric(weather_data[col], errors='coerce').isna()]
    
    if not non_numeric.empty:
        print(f"Non-numeric values in column '{col}':")
        print(non_numeric.unique())  # Display unique non-numeric values

Non-numeric values in column 'Max wind gust_Dir':
['NE' 'NNE' 'SE' 'ESE' 'ENE' 'N' 'SSW' 'WNW' 'E' 'NNW' 'NW' 'W' 'WSW' 'S'
 'SSE']
Non-numeric values in column '9 am_Dir':
['E' 'S' 'SE' 'SSE' 'NNW' 'NNE' 'NE' 'ESE' 'NW' 'ENE' 'N' 'Calm' 'WSW'
 'SSW' 'WNW' 'W' 'SW']
Non-numeric values in column '9 am_Spd':
['Calm']
Non-numeric values in column '3 pm_Dir':
['S' 'N' 'WNW' 'ESE' 'E' 'NW' 'WSW' 'SW' 'ENE' 'NE' 'NNW' 'NNE' 'W' 'SE'
 'SSE' 'Calm' 'SSW']
Non-numeric values in column '3 pm_Spd':
['Calm']

### Mapping of directions to degrees

In [25]:
direction_to_degrees = {
    'N': 360,
    'NNE': 22.5,
    'NE': 45,
    'ENE': 67.5,
    'E': 90,
    'ESE': 112.5,
    'SE': 135,
    'SSE': 157.5,
    'S': 180,
    'SSW': 202.5,
    'SW': 225,
    'WSW': 247.5,
    'W': 270,
    'WNW': 292.5,
    'NW': 315,
    'NNW': 337.5,
    'Calm': 0  # Calm as 0
}

### Convert categorical directions to degrees

In [27]:
for column in ['9 am_Dir', 'Max wind gust_Dir', '3 pm_Dir','9 am_Spd','3 pm_Spd']:
    weather_data[column] = weather_data[column].replace(direction_to_degrees)

C:\Users\mohan\AppData\Local\Temp\ipykernel_7776\2823379006.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  weather_data[column] = weather_data[column].replace(direction_to_degrees)

### Convert Object Columns to Numeric

In [29]:
for col in weather_data.columns:
    # Convert to numeric, forcing errors to NaN
    weather_data[col] = pd.to_numeric(weather_data[col], errors='coerce')

### Display the updated DataFrame and its dtypes

In [31]:
print("\nData Types:\n", weather_data.dtypes)

Data Types:
 Min                  float64
Max                  float64
Rain                 float64
Max wind gust_Dir    float64
Max wind gust_Spd    float64
9 am_Temp            float64
9 am_RH                int64
9 am_Cld             float64
9 am_Dir             float64
9 am_Spd               int64
9 am_MSLP            float64
3 pm_Temp            float64
3 pm_RH              float64
3 pm_Cld             float64
3 pm_Dir             float64
3 pm_Spd               int64
3 pm_MSLP            float64
Month                  int32
dtype: object

### Save the cleaned data to a CSV files

In [34]:
weather_data.to_csv('cleaned_weather_data.csv', index=False)
print("Cleaned weather data saved to 'cleaned_weather_data.csv'.")
mean_data.to_csv('cleaned_mean_data.csv', index=False)
print("Cleaned mean data saved to 'cleaned_mean_data.csv'.")

Cleaned weather data saved to 'cleaned_weather_data.csv'.
Cleaned mean data saved to 'cleaned_mean_data.csv'.